/*# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

#### Text

- Very dark desaturated blue: hsl(238, 29%, 16%)
- Soft red: hsl(14, 88%, 65%)

#### Gradient

Background gradient:

- Soft violet: hsl(273, 75%, 66%)
- Soft blue: hsl(240, 73%, 65%)

### Neutral

#### Text

- Very dark grayish blue: hsl(237, 12%, 33%)
- Dark grayish blue: hsl(240, 6%, 50%)

#### Dividers

- Light grayish blue: hsl(240, 5%, 91%)

## Typography

### Body Copy

- Font size: 12px

### Font

- Family: [Kumbh Sans](https://fonts.google.com/specimen/Kumbh+Sans)
- Weights: 400, 700*/

@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");


:root{
  font-family: 'Kumbh Sans', sans-serif;
  font-size:12px;
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  background:linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  background-attachment: fixed;
  font-weight:400;
  color:hsl(238, 29%, 16%);
  padding:12rem 2rem 2rem;
  display:flex;
  align-items:center;
  justify-content:center;
  flex-wrap:wrap;
}

.faq-container{
  background-color:white;
  border-radius:20px;
  padding:2rem;
  display:flex;
  flex-direction: column;
  position:relative;
  min-width:320px;
  width:100%;
  margin-bottom:10px;
  min-height:500px;
  max-height:500px;
}

.illustration{
  background-image:url(images/illustration-woman-online-mobile.svg);
  background-repeat: no-repeat;
  position:absolute;
  top:-22%;
  left:5%;
  width:266px;
  height:196px;
  z-index:3;
}

.illustration-shadow{
  background-image:url(images/bg-pattern-mobile.svg);
  background-repeat: no-repeat;
  position:absolute;
  top:0;
  left:50%;
  width:240px;
  height:30%;
  transform:translate(-50%);
  filter:blur(1px);
  z-index:1;
}

.faq-title{
  text-align:center;
  margin:110px 0 30px 0;
  font-weight:700;
  font-size:1.3rem;
}

.faq-section{
  width:100%;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  padding-bottom:1rem;
  margin-bottom:1rem;
  margin-top:.6rem;
  border-bottom:1px solid hsl(240, 5%, 91%);
}

.qa{
  flex-direction: column;
}
.arrow-down{
  flex-direction:column;
}

.faq-question{
  margin-bottom:.7rem;
  font-size:1.2rem;
  display:flex;
  justify-content: space-between;
  z-index:0;
}

.faq-answer{
  color:hsl(240, 6%, 50%);
  line-height:1.5;
  display:none;
}

.arrow-down img,
.faq-question{
  border:none;
  background-color:transparent;
  cursor:pointer;
}

.attribution{
  width:100%;
}

.btn{
  border:none;
  background-color:inherit;
}

.hideBtn{
  display:none;
}

.question-change{
  font-weight:700;
}

.answer-change{
  display:block;
}

.arrow-change{
  transform-origin:center center;
  transform:rotate(180deg);
  transition:transform .2s;
}

@media (min-width:700px){
  .faq-container{
    position:relative;
    max-width:960px;
    max-height:515px;
    flex-direction:row;
    justify-content:space-between;
    padding:0rem 10rem 0rem 0rem;
  }

  .left{
    overflow:hidden;
    width:60%;
    min-height:470px;
    max-height:500px;
  }

  .illustration{
    background-image:url(images/illustration-woman-online-desktop.svg);
    position:relative;
    width:472px;
    height:359px;
    left:-12.5%;
    top:12.5%;
    /*width="472" height="359"*/
    z-index:2;
  }
  #illustration-box{
    background-image:url(images/illustration-box-desktop.svg);
    position:absolute;
    width:191px;
    height:184px;
    top:39.5%;
    left:-9.7%;
    z-index:3;
    /*width="191" height="184"*/
  }
  .illustration-shadow{
    background-image:url(images/bg-pattern-desktop.svg);
    position:relative;
    overflow:hidden;
    width:966px;
    height:945px;
    top:-130%;
    left:-15%;
    /* width="966" height="945"*/
    z-index:1;
  }

  .right{
    display:flex;
    flex-direction:column;
    width:35%;
  }

  .faq-title{
    text-align:left;
    margin-top:6rem;
  }
};