/*# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

#### Text

- Very dark desaturated blue: hsl(238, 29%, 16%)
- Soft red: hsl(14, 88%, 65%)

#### Gradient

Background gradient:

- Soft violet: hsl(273, 75%, 66%)
- Soft blue: hsl(240, 73%, 65%)

### Neutral

#### Text

- Very dark grayish blue: hsl(237, 12%, 33%)
- Dark grayish blue: hsl(240, 6%, 50%)

#### Dividers

- Light grayish blue: hsl(240, 5%, 91%)

## Typography

### Body Copy

- Font size: 12px

### Font

- Family: [Kumbh Sans](https://fonts.google.com/specimen/Kumbh+Sans)
- Weights: 400, 700*/

@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");


:root{
  font-family: 'Kumbh Sans', sans-serif;
  font-size:12px;
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  background:linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  background-attachment: fixed;
  font-weight:400;
  color:hsl(238, 29%, 16%);
  padding:12rem 2rem;
  display:flex;
  align-items:center;
  justify-content:center;
  flex-wrap:wrap;
}

.faq-container{
  background-color:white;
  border-radius:20px;
  padding:2rem;
  display:flex;
  flex-direction: column;
  position:relative;
  min-width:320px;
  width:100%;
  margin-bottom:10px;
}

.illustration{
  position:absolute;
  top:-22%; /*lub -15% jak nie display:none; na faq-answer*/
  left:5%;
  width:266px;
  height:196px;
}

.illustration-shadow{
  position:absolute;
  top:0;
  left:50%;
  width:240px;
  height:auto;
  transform:translate(-50%);
  filter:blur(1px);
}

.faq-title{
  text-align:center;
  margin:110px 0 30px 0;
  font-weight:700;
  font-size:1.3rem;
}

.faq-section{
  width:100%;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  padding-bottom:1rem;
  margin-bottom:1rem;
  margin-top:.6rem;
  border-bottom:1px solid hsl(240, 5%, 91%);
}

.qa{
  flex-direction: column;
}
.arrow-down{
  flex-direction:column;
}

.faq-question{
  margin-bottom:.7rem;
  font-size:1.1rem;
  display:flex;
  justify-content: space-between;
}

.faq-answer{
  color:hsl(240, 6%, 50%);
  line-height:1.5;
  display:none;
}

.arrow-down img{
  border:none;
  background-color:transparent;
  cursor:pointer;
}

.attribution{
  width:100%;
}